
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <nav class="course-navigation-links">
    <a mat-raised-button color="primary" class="course-navigation-links__link" routerLink="" routerLinkActive="active">Спецкурс C# и .NET в НГУ [2019]</a>
    <button mat-raised-button color="primary" class="course-navigation-links__link" [matMenuTriggerFor]="tasksLinks">Задачи</button>
    <a mat-raised-button color="primary" class="course-navigation-links__link">GitHub-мануал</a>
  </nav>

  <nav class="course-navigation-links__mobile">
    <a mat-button class="course-navigation-links__link" routerLink="" routerLinkActive="active">Спецкурс C# и .NET в НГУ [2019]</a>
    <button mat-raised-button [matMenuTriggerFor]="links" color="primary">Меню</button>
    <mat-menu #links="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="tasksLinks">Задачи</button>
      <!-- <a mat-button color="primary"  [matMenuTriggerFor]="tasks" class="course-navigation-links__link" routerLink="/tasks" routerLinkActive="active">Задачи</a> -->
      <a mat-button color="primary" class="course-navigation-links__link">GitHub-мануал</a>
    </mat-menu>
  </nav>

  <mat-menu #tasksLinks="matMenu" class="tasks-list-menu__mobile">
    <button mat-button color="primary" class="tasks-list-menu__subitem__mobile" routerLink="/tasks" routerLinkActive="active">Общее описание</button>
    <button mat-button *ngFor="let task of tasks; index as i" color="primary" class="tasks-list-menu__subitem__mobile"
    [routerLink]="'/task/'+i" routerLinkActive="active">Задача №{{i+1}}</button>
  </mat-menu>
<router-outlet></router-outlet>
