.course-navigation-links__mobile{
  display: flex;
}

.tasks-list-menu__mobile{
  display: flex;
  flex-wrap: nowrap;
}

.tasks-list-menu__subitem__mobile{
  display: block;
}

@media screen and (max-width: 580px){
  .course-navigation-links{
    display: none;
  }
}
@media screen and (min-width: 580px){
  .course-navigation-links__mobile{
    display: none;
  }
}
