<div class="course-page">
    <h1>Задача о ранце</h1>
    <p>Необходимо реализовать веб-приложение, которое может решить задачу о ранце.  Алгоритм решения не важен, возможен прямой перебор</p>
    <h2>UI ПРИЛОЖЕНИЯ</h2>
    <p>UI приложения должен состоять из следующих страниц:</p>
    <h2>Описание</h2>
    1) <b>Страница «Список выполняющихся задач»</b>, содержащая столбцы:
    <ol type="a">
      <li>Наименование задачи (ссылка на переход к странице деталей в статусе «Выполнено»)</li>
      <li>Вместимость рюкзака</li>
      <li>Максимальная ценность (если задача в статусе «Выполнено»)</li>
      <li>Процент выполнения (если задача в статусе «Выполняется»)</li>
      <li>Статус «Выполняется»/ «Выполнено»</li>
      <li>Действие «Удалить» (должно прерывать выполняющуюся задачу)</li>
      <li>Действие «Добавить новую задачу»</li>
    </ol>
    2) <b>Страница с формой создания новой задачи: </b>
    <ol type="a">
      <li>Наименование задачи</li>
      <li>Вместимость рюкзака</li>
      <li>Таблица с наименованием, ценностью и весом предметов (для ввода)</li>
    </ol>
    3) <b>Страница, с деталями задачи, отображающая: </b>
    <ol type="a">
      <li>Условие</li>
        <ol type="i">
          <li>Наименование задачи</li>
          <li>Вместимость рюкзака</li>
          <li>Таблица с наименованием, ценностью и весом предметов (для чтения)</li>
        </ol>
      <li>Решение</li>
        <ol type="i">
          <li>Максимальная ценность</li>
          <li>Таблица распределения предметов для достижения оптимальной ценности</li>
          <li>Время выполнения</li>
        </ol>
    </ol>
    <h2>Важно</h2>
      <p>1) Необходимо запускать вычисление нескольких задач одновременно </p>
      <p>2) Решение должно отображать прогресс выполнения задания в процентах </p>
      <p>3) Вычисление должно уметь «переживать» запуск веб-сервера, под которым оно работает,  т.е. при перезапуске процесс должен продолжаться с того места где он остановился </p>
    <h2>Технические условия</h2>
      <p>1) .NET Core</p>
      <p>2) Решение должно быть реализовано либо с использованием ASP.NET MVC, либо в виде SPA, с использованием одной их технологий: Razor, Angular 7, Vue, либо React</p>
</div>
